.display {
    background-color: #00b3ee;
    color: #000000;
    text-align: right;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;

}

.num {
    background-color: slateblue;
    color: #ffffff;
    border-radius: 15px;
    margin: 5px;
}

.oper {
    background-color: #b92c28;
    color: #ffffff;
    border-radius: 15px;
    margin: 5px;
}

